 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/BackBay-47-Edit.jpeg');
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-shape-1 {
  width: 805px;
  left: -250px;
  background-image: none;
  right: auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1rem;
  margin: 168px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 570px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 24px 585px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-shape-1 {
    width: 990px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-shape-1 {
    width: 770px;
    left: -410px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 443px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 370px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 370px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-shape-1 {
    width: 590px;
    left: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 332px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-shape-1 {
    width: 390px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 209px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 400px;
    margin-right: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 321px;
}

.u-section-2 .u-text-1 {
  margin: 60px 630px 0 0;
}

.u-section-2 .u-text-2 {
  margin: -202px 32px 60px 598px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 430px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 157px;
} .u-section-4 {
  background-repeat: no-repeat;
  background-image: url("images/ai-for-crime-prevention-and-detection-5-current-applications.webp");
  background-size: cover;
  min-height: 578px;
}

.u-section-4 .u-group-1 {
  min-height: 593px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
  background-size: cover;
  width: 645px;
  margin: 0 0 -15px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 28px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 85px 24px 0;
}

.u-section-4 .u-text-2 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
    min-height: 477px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 365px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 274px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 173px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 157px;
}.u-section-6 .u-sheet-1 {
  min-height: 907px;
}

.u-section-6 .u-text-1 {
  margin: 78px 15px 0 -15px;
}

.u-section-6 .u-image-1 {
  height: 645px;
  margin-top: 78px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 157px;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1133px;
}

.u-section-8 .u-text-1 {
  width: 805px;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  width: 490px;
  margin: 20px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 47px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  grid-auto-columns: 33.3333%;
  min-height: 768px;
  grid-gap: 0px;
}

.u-section-8 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(243, 211, 89, 1), rgba(243, 211, 89, 1));
  background-size: cover;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 29px 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 45px auto 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 28px 1px 0;
}

.u-section-8 .u-image-1 {
  height: 449px;
  margin: 49px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(235, 121, 65, 1), rgba(235, 121, 65, 1));
  background-size: cover;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 29px 30px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 45px auto 0;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 28px 1px 0;
}

.u-section-8 .u-image-2 {
  height: 449px;
  margin: 49px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(216, 57, 53, 1), rgba(216, 57, 53, 1));
  background-size: cover;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 29px 30px;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 45px auto 0;
}

.u-section-8 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  line-height: 1.8;
  font-weight: 400;
  margin: 28px 1px 0;
}

.u-section-8 .u-image-3 {
  height: 449px;
  margin: 49px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
    min-height: 633px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    height: 356px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    height: 356px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    height: 356px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1471px;
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-8 .u-image-1 {
    height: 421px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-8 .u-image-2 {
    height: 421px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-8 .u-image-3 {
    height: 421px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    height: 725px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-2 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-3 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 446px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-image-2 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-image-3 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 157px;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1319px;
}

.u-section-10 .u-text-1 {
  width: 805px;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  width: 490px;
  margin: 20px auto 0;
}

.u-section-10 .u-list-1 {
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 366px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-10 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(243, 211, 89, 1), rgba(243, 211, 89, 1));
  background-size: cover;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-10 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 47px 1px 0;
}

.u-section-10 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(235, 121, 65, 1), rgba(235, 121, 65, 1));
  background-size: cover;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-10 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-10 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-10 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 47px 1px 0;
}

.u-section-10 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(216, 57, 53, 1), rgba(216, 57, 53, 1));
  background-size: cover;
}

.u-section-10 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-10 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-10 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-10 .u-text-11 {
  line-height: 1.8;
  font-weight: 400;
  margin: 47px 1px 0;
}

.u-section-10 .u-list-2 {
  margin-top: -18px;
  margin-bottom: 60px;
}

.u-section-10 .u-repeater-2 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 513px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-10 .u-image-1 {
  background-repeat: no-repeat;
  background-image: url("images/8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
}

.u-section-10 .u-container-layout-4 {
  padding: 22px 0 8px;
}

.u-section-10 .u-image-2 {
  background-repeat: no-repeat;
  background-image: url("https://pixabay.com/get/g221ab9a01f8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
}

.u-section-10 .u-container-layout-5 {
  padding: 22px 0 8px;
}

.u-section-10 .u-image-3 {
  background-repeat: no-repeat;
  background-image: url("https://pixabay.com/get/g221ab9a01f8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
}

.u-section-10 .u-container-layout-6 {
  padding: 22px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 302px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 423px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 694px;
    grid-auto-columns: 50%;
  }

  .u-section-10 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 972px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 145px;
}.u-section-12 .u-sheet-1 {
  min-height: 805px;
}

.u-section-12 .u-text-1 {
  width: 805px;
  margin: 68px auto 0;
}

.u-section-12 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  width: 490px;
  margin: 20px auto 0;
}

.u-section-12 .u-list-1 {
  margin-top: 91px;
  margin-bottom: 60px;
}

.u-section-12 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 366px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-12 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(243, 211, 89, 1), rgba(243, 211, 89, 1));
  background-size: cover;
}

.u-section-12 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-12 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-12 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-12 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 47px 1px 0;
}

.u-section-12 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(235, 121, 65, 1), rgba(235, 121, 65, 1));
  background-size: cover;
}

.u-section-12 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-12 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-12 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-12 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 47px 1px 0;
}

.u-section-12 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(216, 57, 53, 1), rgba(216, 57, 53, 1));
  background-size: cover;
}

.u-section-12 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-12 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-12 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-12 .u-text-11 {
  line-height: 1.8;
  font-weight: 400;
  margin: 47px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-12 .u-list-1 {
    margin-top: 155px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 302px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-top: 396px;
    width: 720px;
  }

  .u-section-12 .u-list-1 {
    margin-top: -289px;
    margin-bottom: -118px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 694px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    width: 540px;
  }

  .u-section-12 .u-list-1 {
    margin-top: -250px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-top: 445px;
    width: 340px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
  }

  .u-section-12 .u-list-1 {
    margin-top: -311px;
    margin-bottom: -167px;
  }
} .u-section-13 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/BackBay-47-Edit.jpeg');
  background-size: cover, cover;
}

.u-section-13 .u-sheet-1 {
  min-height: 223px;
}

.u-section-13 .u-text-1 {
  margin: 60px 0;
}

@media (max-width: 1199px) {
   .u-section-13 {
    background-position: 50% 50%, 50% 50%;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 693px;
}

.u-section-14 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-14 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 513px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-14 .u-image-1 {
  background-repeat: no-repeat;
  background-image: url("images/8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
}

.u-section-14 .u-container-layout-1 {
  padding: 22px 0 8px;
}

.u-section-14 .u-image-2 {
  background-repeat: no-repeat;
  background-image: url("https://pixabay.com/get/g221ab9a01f8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
}

.u-section-14 .u-container-layout-2 {
  padding: 22px 0 8px;
}

.u-section-14 .u-image-3 {
  background-repeat: no-repeat;
  background-image: url("https://pixabay.com/get/g221ab9a01f8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
}

.u-section-14 .u-container-layout-3 {
  padding: 22px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 423px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-14 .u-image-1 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-14 .u-image-2 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-14 .u-image-3 {
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 972px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-list-1 {
    margin-top: 203px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 157px;
}.u-section-16 .u-sheet-1 {
  min-height: 907px;
}

.u-section-16 .u-text-1 {
  margin: 78px 15px 0 -15px;
}

.u-section-16 .u-image-1 {
  height: 645px;
  margin-top: 78px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 103px;
} .u-section-18 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffffff, #478ac9);
  background-size: cover;
}

.u-section-18 .u-sheet-1 {
  min-height: 264px;
}

.u-section-18 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(76,115,151,0.4);
  margin: 125px auto 60px;
}

@media (max-width: 767px) {
  .u-section-18 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-19 {
  background-repeat: no-repeat;
  background-image: url("images/harvardtall1.jpg");
  background-size: cover;
  min-height: 704px;
}

.u-section-19 .u-group-1 {
  min-height: 704px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(173, 204, 233, 0.85), rgba(173, 204, 233, 0.85));
  background-size: cover;
  width: 538px;
  margin: 0 0 0 auto;
}

.u-section-19 .u-container-layout-1 {
  padding: 0 26px;
}

.u-section-19 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 62px 107px 0 2px;
}

.u-section-19 .u-text-2 {
  margin: 20px 60px 0 0;
}

@media (max-width: 1199px) {
   .u-section-19 {
    background-position: 50% 50%;
    min-height: 580px;
  }

  .u-section-19 .u-group-1 {
    height: auto;
  }

  .u-section-19 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
   .u-section-19 {
    min-height: 444px;
  }
}

@media (max-width: 767px) {
   .u-section-19 {
    min-height: 333px;
  }

  .u-section-19 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-text-1 {
    margin-left: 2px;
    margin-right: 107px;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-19 {
    min-height: 210px;
  }

  .u-section-19 .u-group-1 {
    width: 340px;
  }

  .u-section-19 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 103px;
} .u-section-21 {
  background-image: url("images/8895efab17af7482a793adb4d01126cfef5b9996316df0cff4ab7bbcece433e4b559152b853ae8e1dff292bab1ee2210b5abc80a99ae15b9cd3f14_1280.jpg");
  background-position: 50% 50%;
}

.u-section-21 .u-sheet-1 {
  min-height: 645px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-sheet-1 {
    min-height: 532px;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 192px;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  height: 100%; 
}

.u-section-22 .u-text-1 {
  margin: 60px 630px 0 0;
}

.u-section-22 .u-text-2 {
  margin: -202px 32px 60px 598px;
}

@media (max-width: 1199px) {
  .u-section-22 .u-text-1 {
    margin-right: 430px;
  }

  .u-section-22 .u-text-2 {
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-22 .u-text-2 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-22 .u-text-2 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-text-1 {
    margin-right: 0;
  }

  .u-section-22 .u-text-2 {
    margin-left: 0;
  }
}